<!DOCTYPE html>
<html>
<head>
  <title>FB.ui - Facebook Developers</title>
  <link rel="stylesheet" href="../styles/site.css" />
</head>
<body class="docsite">
  <div class="header">
    <div class="content">
      <h1>{{page.title}}</h1>
      {% if page.breadcrumbs %}
      <div class="breadcrumbs">
      {% for crumb in page.breadcrumbs %}
        <a href="{{crumb.url}}">{{crumb.name}}</a>
        {% if !forloop.last %}›{% endif %}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="body washbody documentation">
    <div class="content">

      <h2>Introduction</h2>

      <p>The Facebook Platform enables you to make your website more personalized and social. You can mix and match Facebook's APIs to best meet your goals:</p>
      
      <p><button class="disabled">Disabled Button</button></p>

      <ul>
      <li><p><strong>Registration + Login</strong> &mdash; With a single dialog, you can access data including a user's real name, email address, profile picture and list of friends.  Replace or supplement your user account system with Facebook to help drive signups and improve data quality.</p></li>
      <li><p><strong>Engagement</strong> &mdash; With Facebook users comes their friends; incorporate these connections to make your product more engaging.  Social plugins like the <a href="../reference/plugins/like">Like button</a> and the <a href="../reference/plugins/activity">activity feed</a> enable you to offer social experiences with just a line of HTML. The <a href="../api">Graph API</a> enables you to integrate the social graph into your site in deep and compelling ways.</p></li>
      <li><p><strong>Growth</strong> &mdash; You can publish content from your site into the social graph to reach your users' friends. The <a href="../reference/plugins/like">Like button</a> enables users to share your site's content back to their Facebook stream with one click. In addition, you can integrate pages deeply into the social graph via the <a href="../opengraph">Open Graph protocol</a>.</p></li>
      </ul>

      <p>This guide will walk you through the basics of creating a web application with some of these features. If you aren't sure where to start after reading this guide, check out the <a href="/showcase/">Platform showcase</a> for inspiration from other sites.</p>

      <hr />

      <h2>Contents</h2>

      <ul>
      <li><a href="#plugins">Social plugins</a></li>
      <li><a href="#login">Single sign-on</a></li>
      <li><a href="#registration">Account registration data</a></li>
      <li><a href="#personalization">Server-side personalization</a></li>
      <li><a href="#insights">Analytics</a></li>
      <li><a href="#next">What next?</a></li>
      </ul>

      <p><a name="plugins"></a></p>

      <hr />

    </div>
  </div>

  <!-- below is an example of a reference page for an API -->

  <div class="body washbody reference">
    <div class="content">

      <div class="bodyMenu">
        <h4>Methods</h4>
        <ul>
          <li>
            <a href="FB.api">FB.api</a>
          </li>
          <li>
            <a href="FB.copy">FB.copy</a>
          </li>
          <li>
            <a href="FB.getLoginStatus">FB.getLoginStatus</a>
          </li>
          <li>
            <a href="FB.getSession">FB.getSession</a>
          </li>
          <li>
            <a href="FB.init">FB.init</a>
          </li>
          <li>
            <a href="FB.login">FB.login</a>
          </li>
          <li>
            <a href="FB.logout">FB.logout</a>
          </li>
          <li>
            <a href="FB.ui" class="selected">FB.ui</a>
          </li>
        </ul>
      </div>
      <div class="bodyText">
        <h1>FB.ui</h1>
        <p>
          Method for triggering UI interaction with Facebook as iframe
          dialogs or popups, like publishing to the stream, sharing links.
        </p>
<pre>
<code> var share = {
 method: 'stream.share',
 u: 'http://fbrell.com/'
};

FB.ui(share, function(response) { console.log(response); });
</code>
</pre>
        <h2>Parameters</h2>
        <table class="params">
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          <tr>
            <td class="name">
              params
            </td>
            <td class="type">
              Object
            </td>
            <td>
              <p>
                The required arguments vary based on the method being used,
                but specifying the method itself is mandatory. If
                <em>display</em> is not specified, then iframe dialogs will
                be used when possible, and popups otherwise.
              </p>
            </td>
          </tr>
          <tr>
            <td class="name">
              cb
            </td>
            <td class="type">
              Function
            </td>
            <td>
              <p>
                Optional callback function to handle the result. Not all
                methods may have a response.
              </p>
            </td>
          </tr>
        </table>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="footer">
    <div class="content">
      <div class="author">
        Maintained by <a href="http://h3h.net/">Brad Fults</a>
        &middot;
        <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative
          Commons Attribution Share-Alike License</a>
      </div>
      <div class="links">
        <span>Find me on:</span>
        <a href="http://twitter.com/h3h">Twitter</a>
        <a href="http://github.com/h3h">GitHub</a>
        <a href="http://www.facebook.com/brad.fults">Facebook</a>
        <a href="http://www.linkedin.com/in/bradfults">LinkedIn</a>
      </div>
    </div>
  </div>
</body>
</html>
