<!DOCTYPE html>
<html>
<head>
  <title>FB.ui - Facebook Developers</title>
  <link rel="stylesheet" href="../styles/site.css" />
</head>
<body class="docsite">
  <div class="menu">
    <div class="content">
      <a href="/">Home</a>
      <a href="/github-repo-widget">Github Repo Widget</a>
      <div class="clear"></div>
    </div>
  </div>
  <div class="header">
    <div class="content">
      <h1>{{page.title}}</h1>
      {% if page.breadcrumbs %}
      <div class="breadcrumbs">
      {% for crumb in page.breadcrumbs %}
        <a href="{{crumb.url}}">{{crumb.name}}</a>
        {% unless forloop.last %}
        ›
        {% endunless %}
      {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>

  {{content}}

  <div class="footer">
    <div class="content">
      <div class="author">
        Maintained by <a href="http://h3h.net/">Brad Fults</a>
        &middot;
        <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative
          Commons Attribution Share-Alike License</a>
      </div>
      <div class="links">
        <span>Find me on:</span>
        <a href="http://twitter.com/h3h">Twitter</a>
        <a href="http://github.com/h3h">GitHub</a>
        <a href="http://www.facebook.com/brad.fults">Facebook</a>
        <a href="http://www.linkedin.com/in/bradfults">LinkedIn</a>
      </div>
    </div>
  </div>
</body>
</html>
